<div class="content" ng-controller="appCtrl">
  <button ng-click="order = ' name' ">order by Name</button>
    <button ng-click="order = 'belt'">order by Belt</button>

    <input type="text" ng-model="search" placeholder="search">
    <ul>
  <li ng-repeat="n in ninja | orderBy:order | filter: search" ng-show="n.available"
  >
<img ng-src="{{n.thumb}}" style="margin: -12px 10px 0 0; float: left; width:50px; height: 50px;" alt="" ng-show= " n.thumb">
  <h3>{{n.name}} - {{n.rate | currency}}</h3>
  <div  class="remove" ng-click="removeNinja(n)" >x 
  </div>
  <span class="belt" style="background: {{n.belt}}">{{n.belt}} Belt</span>
  </li>
  </ul>
  <form ng-submit="addNinja()">
    <input type="text" placeholder="name" ng-model="newninja.name">
        <input type="text" placeholder="bely" ng-model="newninja.belt">
    <input type="text" placeholder="rate" ng-model="newninja.rate">
    <input type="submit" value="Add New Ninja">

  </form>
</div>
